# Basic Syntax

In [2]:
## single line comment

In [10]:
'''
this is a multi line comment
welcoime
'''
print (1)

1

In [11]:
## case sensitive
name="Divyansh"
Name="Singhal"
print(name)
print(Name)

Divyansh
Singhal

In [12]:
## intendation -> 4 space or tab
age=32
if age<34:
    print(age)

print(age+100)

32
132

In [14]:
## line continuation
total=1+2+3+4+5+6+7+8+\
9+10+11+12+13+14
print(total)

105

In [17]:
## multiple statements on a single line
x=5;y=10;z=x+y;print(z)

15

## semantics

In [21]:
## variable assignment
age=32 ## age is a integer
name = "Divyansh" ## name is a string
type(age)
type(name)
## it will print only one type at a time like name in this one

str

In [22]:
## type inference
var=10
print(type(var))
var="Div"
print(type(var))

<class 'int'>
<class 'str'>