In [4]:
## variables declared dynamically no nedd to define data type

Name="Divyansh"
age=20
height=6.2
is_study=True

## printing
print("Name :",Name)
print(age)
print(height)
print(is_study)

Name : Divyansh
20
6.2
True

In [5]:
## naming conventio

'''
variables name should be descriptive
they must start with a letter or _ 
it can contains letters , num , _
names are case sensitive
'''

'''
valid names
first_name=Divyansh
'''

'\nvalid names\nfirst_name=Divyansh\n'

In [6]:
# type conversion
age=25
age_str=str(age)
print(age_str)
print(type(age))
print(type(age_str))

25
<class 'int'>
<class 'str'>

In [7]:
# type conversion 2
age='25'
age_int=int(age)
print(age_int)
print(type(age))
print(type(age_int))

25
<class 'str'>
<class 'int'>

In [8]:
# type conversion 3
age=5.3
age_int=int(age)
print(age_int)
print(type(age))
print(type(age_int))

5
<class 'float'>
<class 'int'>

In [9]:
# dynamic typing
# python allows the type of a variable to change as the program executes

var = 10
print(var,type(var))

var = 10.2
print(var,type(var))

var = "Hello"
print(var,type(var))

10 <class 'int'>
10.2 <class 'float'>
Hello <class 'str'>

In [13]:
# input

age=int(input("What is your age ?"))
print(age,type(age))

9 <class 'int'>