# Sets

Does not contain duplicate elements

In [1]:
# create set
my_set={1,2,3,4,5}
print(my_set,type(my_set))

{1, 2, 3, 4, 5}

In [3]:
my_empty=set()
print(my_empty,type(my_empty))

set() <class 'set'>

In [5]:
my_empty=set([1,2,7,3,4,5])
print(my_empty)

{1, 2, 3, 4, 5, 7}

In [7]:
my_set={1,2,3,4,5,6,7}
my_set.add(9)
print(my_set)

{1, 2, 3, 4, 5, 6, 7, 9}

In [10]:
my_set.remove(1 )
print(my_set)

{2, 4, 5, 6, 7, 9}

In [11]:
# pop method

removed=my_set.pop()
print(removed)

2

In [12]:
my_set.clear()

In [13]:
my_set={1,2,3,4,5}
print(2 in my_set)
print(10 in my_set)

True
False

In [16]:
# mathematical operation
set1={1,2,3,4,5}
set2={6,7,8,9,2}

#union
union_set=set1.union(set2)
print(union_set)

# intersection
inters_set=set1.intersection(set2)
print(inters_set)

set1.intersection_update(set2)
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{2}
{2}

In [17]:
# difference

set1={1,2,3,4,5}
set2={2,3,4,5,6}

print(set1.difference(set2))

{1}

In [18]:
set1.symmetric_difference(set2)

{1, 6}

In [19]:
set1

{1, 2, 3, 4, 5}

In [20]:
# sets method

set1={1,2,3}
set2={2,3,4}

print(set1.issubset(set2))

False

In [21]:
print(set1.issuperset(set2))

False

In [24]:
lst=[1,2,2,3,4,5,5,6]
set1=set(lst)
print(set1)

{1, 2, 3, 4, 5, 6}

In [26]:
# counting unique words in set
text="In this tutorial we are discussing about sets"
words=text.split()

unique_words=set(words)
print(unique_words)
print(len(unique_words))

{'about', 'are', 'sets', 'this', 'tutorial', 'we', 'In', 'discussing'}
8